/bin
snake-java/bin
*.class
*.log
*.*~

# Eclipse files
.classpath
.project
.settings
.metadata

# Package Files #
*.jar
*.war
*.ear

# IntelliJ files
*.iml
*.ipr
*.iws
/out

# Mac files
*.DS_store

# eiffel
EIFGENs